<div class="control-group row">
  <div class="span1"><span class="bulletin"><%= bulletin %></span></div>
  <div class="span4">
    <textarea class="input-large answer" data-bulletin="<%= bulletin %>" rows="1" placeholder="..."></textarea>
    <span class="badge marker"><i class="icon-ok icon-white"></i></span>
    <span class="badge badge-important marker"><i class="icon-remove icon-white"></i></span>
  </div>
</div>