<div class="container">
  <header class="page-header">
    <p>Survey Builder V1.0.0</p>
  </header>
  
  <section id="app-container" class="row">
    
  </section>
  
  <footer class="page-footer">
    <div>Copyright 2013 &copy; Comity Designs Inc.</div>
  </footer>
</div>

<script type="text/json" id="bootstrap">
  {
    "survey": <%= @survey.to_json %>,
    "questions": <%= @questions.to_json %>
  }
</script>

<% content_for :js do %>
<script> 
  $(function(){
    // flash assets path
    window.clipboard = '<%= asset_path "ZeroClipboard.swf" %>';
    // include initialization data
    var div = $('<div></div>');
    div.html($('#bootstrap').text());
    new SurveyBuilder.Routers.AppRouter(JSON.parse(div.text()));
    Backbone.history.start({pushState: true, root: "/builder/survey"});
  });
</script>
<% end %>