<div class="container">
  <h3 class="congrats">You did it! You should receive a email later with summary of your score.</h3>

  <footer class="page-footer">
    <div>Copyright 2013 &copy; Comity Designs Inc.</div>
  </footer>
</div>