<div class="container">
  <header class="page-header">
    <p>Survey Builder V1.0.0</p>
  </header> 
  
  <section id="app-container" class="row">
    <div class="centered">          
      <div class="hero-unit">
        <h3>Create a New Survey Now!</h3>
        <p>This is a survey builder. It is simple, intuitive and elegant.</p>
        <a class="btn btn-large" data-toggle="collapse" data-target="#create-survey">
          Create A New Survey
        </a>                                                                       
        <div id="create-survey" class="collapse">
          <form id="survey-form" class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputEmail">Survey Name</label>
              <input type="text" id="survey_name"/>
            </div>               
            <div class="control-group">
              <label class="control-label" for="inputEmail">Description</label>
              <textarea type="text" id="survey_description" rows="4"></textarea>
            </div>                                                    
            <button type="submit" class="btn btn-primary">Create</button>
          </form>
        </div>
      </div>              
    </div>              
  </section>
  
  <footer class="page-footer">
    <div>Copyright 2013 &copy; Comity Designs Inc.</div>
  </footer>
</div>

