<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body style="color:#444;font-size:14px;">
  <div class="container" style="background:rgb(217, 250, 252);-webkit-border-radius:8px;-moz-border-radius: 8px;border-radius:8px;padding:10px;">
    <div style="font-size:1.1em;">
      <span class="title"><i class="logo" style="font-style:normal;font-size:1.2em;">&#9745;</i> Thanks for using Survey Builder! </span>
    </div>  
    <div style="background:#FFF;padding:7px;margin:8px 0px;border:1px solid rgba(0,0,0,0.13);">      
      <p>
        You have successfully published a survey,
        your survey URL is:
        <br>
        <b class="em" style="display:inline-block;margin:8px;color:rgb(41, 120, 238);border:1px dashed #CCC;padding:1px 5px;"><%= published_survey_url(@published_survey) %></b>
        <br>
        Just send this URL to anyone you need to participate this survey.
      </p>
      <p>Thanks for using Survey Builder!</p>
    </div>                                                                                       
    <div style="text-align:center;font-size:0.87em;border-top:1px dashed rgba(0,0,0,0.33);">
      <p>We'd like to hear from you too, just reply to this email with anything you want to say to us. <i class="face" style="font-style:normal;font-size:1.2em;">&#9786;</i></p>
      <em>&copy; 2013 ComityDesigns Inc.</em>
    </div>
  </div>
</body>
</html>