<header class="row">
  <div class="span4 offset1"><h4><%= name %></h4></div>
  <div class="span1 offset1 runner"><span>saving...</span></div>
  <div class="span2 offset3"><button class="btn btn-primary publish">Publish</button></div>
</header>                                         
<hr/>

<section id="builder-form">
  <div class="row">
    <label>Total Score <span class="badge badge-inverse total-score"><%= total_score %></span></label>
  </div>              
                                        
  <div id="questions">
  <!-- builder sections -->
  </div>   
  
  <div id="add-question">
    <button class="btn btn-link">Add More Question</button>
  </div>
</section>