body {
  background: url(/assets/grid_bg.png) repeat;
}
.page-header {
  border-bottom: 1px solid #CCC;
}

#app-container {
  margin: 66px 0;
  .centered { text-align: center; }  
  .hero-unit {
    display:inline-block;
    width:380px;
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    background: rgba(183, 218, 216, 0.64);
  }
}

#create-survey {
  margin-top: 12px;  
  background: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px #888;
  -moz-box-shadow: inset 0 0 3px #888;
  box-shadow: inset 0 0 3px #888;
  form {
    margin-top: 15px;
  }
} 

#builder {
  background: #FFF;
  -webkit-box-shadow: inset 0 0 3px #777;
  -moz-box-shadow: inset 0 0 3px #777;
  box-shadow: inset 0 0 3px #777;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  header {
    margin-bottom: 5px;
    > div:first-child {
      margin-left: 67px;
    }
    div:last-child { 
      float:right;
      margin-top: 6px;
    }
  }
  hr {
    border: none;
    margin: 0 auto;
    border-bottom: 1px solid #CCC;
    width: 90%;
  }
}
#builder-form {
  width: 90%;
  margin: auto;     
  min-height: 420px;
  > div:first-child {
    margin: 10px;
  }
}              

.builder-section {
  margin-bottom: 10px;  
  > div:first-child {
    border-right: 1px dashed #ccc;
  }
  > div:last-child label {
    margin-bottom: 7px;
  }
  > div:last-child input[type='text'] {
    margin-left: 5px;
  }
  .control-group div:first-child {
    text-align: right;
  }                    
  .control-group:first-child div:first-child {
    text-align: center;
  }
}
#add-question {
  text-align: center;
}
.page-footer {
  border-top: 1px solid #CCC;
  div {        
    margin-top: 15px;
    text-align: center;
    font-size: 0.85em;
    margin-bottom: 10px;
  }
}

.form-horizontal .control-label {
  width: 120px;
}   
.icon-plus-sign {
  zoom: 1.2;
  margin: -3px 0 0 5px;
}